/*
	
	cols.fab 0.8.7
	
*/


/* --- VARS --- */

// Max cols number
$colnb: 6;

// Container max-width
$mw: 1280;

// Container class (ex: container, wrapper...)
$container: container;

// Default margin (px)
$m: 30;

// Widths (%)
$widths: 
	w20 20%, 
	w25 25%, 
	w30 30%, 
	w33 33.33%, 
	w40 40%, 
	w50 50%, 
	w60 60%, 
	w66 66.66%, 
	w70 70%, 
	w75 75%, 
	w80 80%, 
	w100 100%
;

// Var by breakpoint: class; breakpoint width; margin (px); widths classes;
$breakpoints: 
	full $mw+1 $m $widths, 
	$mw $mw $m $widths,
	1024 1024 20 $widths, 
	800 800 20 $widths, 
	480 480 20 $widths
;


/* --- CLASSES --- */

.cols {
  display: flex;
}
[class*='cols-'] {
	display: flex;
  flex-wrap: wrap;
}
.cols-c {
  justify-content: center;
}
.cols-a {
  align-items: center;
}
.col {
  position: relative;
  box-sizing: border-box;
}

// Breakpoints
@each $breakpoint in $breakpoints {
  
  $bpclass: nth($breakpoint, 1);
  $bpvalue: nth($breakpoint, 2);
  $bpm: nth($breakpoint, 3);
  $bpwidths: nth($breakpoint, 4);
  $bpmp: $bpm * 100 / if($bpvalue > $mw, $mw, $bpvalue);
  $bpmq: "all and (max-width: #{$bpvalue}px)";
  
  @if $bpvalue > $mw {
  	$bpmq: "all and (min-width: #{$bpvalue}px)";
	}
  
  @if $bpvalue == $mw {
		$bpclass: full;
	}
  
  @media #{$bpmq} { 
  
    // Basic widths class
    @each $width in $bpwidths {
      $wclass: nth($width, 1);
      $wvalue: nth($width, 2);
      .#{$wclass}-#{$bpclass} {
        width: $wvalue;
      }
    }
    
    // Margins
    [class*='cols-'].cols-m > .col+.col {
	    margin-left: ($bpmp * 1%);
		  margin-top: #{$bpmp}vw;
	  }
	  // margin if inside container
	  .#{$container} [class*='cols-'].cols-m > .col+.col {
			
			@if $bpvalue > $mw {
	    	margin-top: #{$bpm}px;
	    }
	    @else {
		    margin-top: #{$bpmp}vw;
	    }
			
		}
	  
	  [class*='cols-d-'].cols-m > .col+.col {
			margin-top: 0;
		}
    
    //Cols w/o margin
    @for $i from 1 through $colnb {
      
      .cols-#{$i}-#{$bpclass} > .col,
    	.cols-d-#{$bpclass} > .col:first-child:nth-last-child(#{$i}),
    	.cols-d-#{$bpclass} > .col:first-child:nth-last-child(#{$i}) ~ .col {
    	  width: ((100% / $i));
    	}
    	
    	//Custom col width
    	@each $width in $bpwidths {
    	  $wclass: nth($width, 1);
    	  $wvalue: nth($width, 2);
    	  .cols-#{$i}-#{$bpclass} > .col.#{$wclass}-#{$bpclass} {
    	    width: $wvalue;
    	  }
    	}
    	
    }
    
    //Cols w/ margin
    @for $i from 1 through $colnb {
      
      .cols-#{$i}-#{$bpclass}.cols-m > .col,
    	.cols-d-#{$bpclass}.cols-m > .col:first-child:nth-last-child(#{$i}),
    	.cols-d-#{$bpclass}.cols-m > .col:first-child:nth-last-child(#{$i}) ~ .col {
    	  width: (((100% / $i) - (($bpmp*($i - 1)) / $i)));
    	}
    	
    	//Prevent margin-top on first row
    	@for $iii from 1 through $i {
      	.cols-#{$i}-#{$bpclass}.cols-m > .col:nth-child(#{$iii}), .#{$container} .cols-#{$i}-#{$bpclass}.cols-m > .col:nth-child(#{$iii}) {
        	margin-top: 0;
      	}
      }
    	
    	//Custom col width
    	@each $width in $bpwidths {
    	  $wclass: nth($width, 1);
    	  $wvalue: nth($width, 2);
    	  .cols-#{$i}-#{$bpclass}.cols-m > .col.#{$wclass}-#{$bpclass} {
    	    width: ($wvalue - (($bpmp*($i - 1)) / $i));
    	  }
    	}
    	
    	.cols-#{$i}-#{$bpclass}.cols-m > .col:nth-child(#{$i}n+1) {
    	  margin-left: 0;
    	}
    	
    }

  }
 
}