@font-face {
  font-family: 'Ethos';
  src: url('../fonts/ethos-regular-webfont.eot');
  src: url('../fonts/ethos-regular-webfont.eot?#iefix') format('embedded-opentype'),
   url('../fonts/ethos-regular-webfont.woff2') format('woff2'),
   url('../fonts/ethos-regular-webfont.woff') format('woff'),
   url('../fonts/ethos-regular-webfont.ttf') format('truetype'),
   url('../fonts/ethos-regular-webfont.svg#ethosregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ethos';
  src: url('../fonts/ethos-regularitalic-webfont.eot');
  src: url('../fonts/ethos-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
   url('../fonts/ethos-regularitalic-webfont.woff2') format('woff2'),
   url('../fonts/ethos-regularitalic-webfont.woff') format('woff'),
   url('../fonts/ethos-regularitalic-webfont.ttf') format('truetype'),
   url('../fonts/ethos-regularitalic-webfont.svg#ethos_regular_italicRgIt') format('svg');
  font-weight: normal;
  font-style: italic;
}