@-webkit-keyframes loading {
  0%{
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
  }
  25%{
	  top: padding_vw($padding);
	  left: padding_vw($padding);
	  right: padding_vw($padding);
	  bottom: 0;
  }
  75%{
	  top: padding_vw($padding);
	  left: padding_vw($padding);
	  right: padding_vw($padding);
	  bottom: 0;
  }
  100%{
	  top: 100%;
	  left: padding_vw($padding);
	  right: padding_vw($padding);
	  bottom: 0;
  }
}
@-moz-keyframes loading {
  0%{
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
  }
  25%{
	  top: padding_vw($padding);
	  left: padding_vw($padding);
	  right: padding_vw($padding);
	  bottom: 0;
  }
  75%{
	  top: padding_vw($padding);
	  left: padding_vw($padding);
	  right: padding_vw($padding);
	  bottom: 0;
  }
  100%{
	  top: 100%;
	  left: padding_vw($padding);
	  right: padding_vw($padding);
	  bottom: 0;
  }
}
@keyframes loading { 
   0%{
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
  }
  25%{
	  top: padding_vw($padding);
	  left: padding_vw($padding);
	  right: padding_vw($padding);
	  bottom: 0;
  }
  75%{
	  top: padding_vw($padding);
	  left: padding_vw($padding);
	  right: padding_vw($padding);
	  bottom: 0;
  }
  100%{
	  top: 100%;
	  left: padding_vw($padding);
	  right: padding_vw($padding);
	  bottom: 0;
  }
}

@-webkit-keyframes loading768 {
  0%{
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
  }
  25%{
	  top: padding_vw($padding*2);
	  left: padding_vw($padding*2);
	  right: padding_vw($padding*2);
	  bottom: 0;
  }
  75%{
	  top: padding_vw($padding*2);
	  left: padding_vw($padding*2);
	  right: padding_vw($padding*2);
	  bottom: 0;
  }
  100%{
	  top: 100%;
	  left: padding_vw($padding*2);
	  right: padding_vw($padding*2);
	  bottom: 0;
  }
}
@-moz-keyframes loading768 {
  0%{
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
  }
  25%{
	  top: padding_vw($padding*2);
	  left: padding_vw($padding*2);
	  right: padding_vw($padding*2);
	  bottom: 0;
  }
  75%{
	  top: padding_vw($padding*2);
	  left: padding_vw($padding*2);
	  right: padding_vw($padding*2);
	  bottom: 0;
  }
  100%{
	  top: 100%;
	  left: padding_vw($padding*2);
	  right: padding_vw($padding*2);
	  bottom: 0;
  }
}
@keyframes loading768 { 
  0%{
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
  }
  25%{
	  top: padding_vw($padding*2);
	  left: padding_vw($padding*2);
	  right: padding_vw($padding*2);
	  bottom: 0;
  }
  75%{
	  top: padding_vw($padding*2);
	  left: padding_vw($padding*2);
	  right: padding_vw($padding*2);
	  bottom: 0;
  }
  100%{
	  top: 100%;
	  left: padding_vw($padding*2);
	  right: padding_vw($padding*2);
	  bottom: 0;
  }
}

@-webkit-keyframes loadingback {
  0%{
	  top: 0;
	  bottom: 100%;
  }
  25%{
	  top: 0;
	  bottom: 100%;
  }
  75% {
	  top: 0;
	  bottom: 0;
  }
  
  100%{
	  top: 100%;
	  bottom: 0;
  }
}

@-moz-keyframes loadingback {
  0%{
	  top: 0;
	  bottom: 100%;
  }
  25%{
	  top: 0;
	  bottom: 100%;
  }
  75% {
	  top: 0;
	  bottom: 0;
  }
  
  100%{
	  top: 100%;
	  bottom: 0;
  }
}

@keyframes loadingback {
  0%{
	  top: 0;
	  bottom: 100%;
  }
  25%{
	  top: 0;
	  bottom: 100%;
  }
  75% {
	  top: 0;
	  bottom: 0;
  }
  
  100%{
	  top: 100%;
	  bottom: 0;
  }
}
@-webkit-keyframes loadingvideo { 
   0%{
	  opacity: 1;
	  visibility: visible;
  }
  25%{
	  opacity: 1;
	  visibility: visible;
  }
  75%{
	  opacity: 0;
	  visibility: hidden;
  }
  100%{
	  opacity: 0;
	  visibility: hidden;
  }
}
@-moz-keyframes loadingvideo { 
   0%{
	  opacity: 1;
	  visibility: visible;
  }
  25%{
	  opacity: 1;
	  visibility: visible;
  }
  75%{
	  opacity: 0;
	  visibility: hidden;
  }
  100%{
	  opacity: 0;
	  visibility: hidden;
  }
}
@keyframes loadingvideo { 
   0%{
	  opacity: 1;
	  visibility: visible;
  }
  25%{
	  opacity: 1;
	  visibility: visible;
  }
  75%{
	  opacity: 0;
	  visibility: hidden;
  }
  100%{
	  opacity: 0;
	  visibility: hidden;
  }
}

@-webkit-keyframes loadingout { 
	0%{
	  top: 100%;
	  left: padding_vw($padding);
	  right: padding_vw($padding);
	  bottom: 0;
  }
  75%{
	  top: 0;
	  left: padding_vw($padding);
	  right: padding_vw($padding);
	  bottom: 0;
  }
  100%{
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
  }
  
}

@-moz-keyframes loadingout { 
	0%{
	  top: 100%;
	  left: padding_vw($padding);
	  right: padding_vw($padding);
	  bottom: 0;
  }
  75%{
	  top: 0;
	  left: padding_vw($padding);
	  right: padding_vw($padding);
	  bottom: 0;
  }
  100%{
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
  }
  
}

@keyframes loadingout { 
	0%{
	  top: 100%;
	  left: padding_vw($padding);
	  right: padding_vw($padding);
	  bottom: 0;
  }
  75%{
	  top: 0;
	  left: padding_vw($padding);
	  right: padding_vw($padding);
	  bottom: 0;
  }
  100%{
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
  }
  
}

@-webkit-keyframes loadingout768 { 
	0%{
	  top: 100%;
	  left: padding_vw($padding*2);
	  right: padding_vw($padding*2);
	  bottom: 0;
  }
  75%{
	  top: 0;
	  left: padding_vw($padding*2);
	  right: padding_vw($padding*2);
	  bottom: 0;
  }
  100%{
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
  }
  
}

@-moz-keyframes loadingout768 { 
	0%{
	  top: 100%;
	  left: padding_vw($padding*2);
	  right: padding_vw($padding*2);
	  bottom: 0;
  }
  75%{
	  top: 0;
	  left: padding_vw($padding*2);
	  right: padding_vw($padding*2);
	  bottom: 0;
  }
  100%{
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
  }
  
}

@keyframes loadingout768 { 
	0%{
	  top: 100%;
	  left: padding_vw($padding*2);
	  right: padding_vw($padding*2);
	  bottom: 0;
  }
  75%{
	  top: 0;
	  left: padding_vw($padding*2);
	  right: padding_vw($padding*2);
	  bottom: 0;
  }
  100%{
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
  }
  
}

@-webkit-keyframes loadingbackout {
	0%{
	  top: 100%;
	  bottom: 0;
  }
  25% {
	  top: 0;
	  bottom: 0;
  }
  75%{
	  top: 0;
	  bottom: 0;
  }
  100%{
	  top: 0;
	  bottom: 100%;
  }
}

@-moz-keyframes loadingbackout {
	0%{
	  top: 100%;
	  bottom: 0;
  }
  25% {
	  top: 0;
	  bottom: 0;
  }
  75%{
	  top: 0;
	  bottom: 0;
  }
  100%{
	  top: 0;
	  bottom: 100%;
  }
}

@keyframes loadingbackout {
	0%{
	  top: 100%;
	  bottom: 0;
  }
  25% {
	  top: 0;
	  bottom: 0;
  }
  75%{
	  top: 0;
	  bottom: 0;
  }
  100%{
	  top: 0;
	  bottom: 100%;
  }
}
@keyframes loadingvideoout { 
   0%{
	  opacity: 0;
	  visibility: hidden;
  }
  25%{
	  opacity: 0;
	  visibility: hidden;
  }
  75%{
	  opacity: 1;
	  visibility: visible;
  }
  100%{
	  opacity: 1;
	  visibility: visible;
  }
}

@keyframes loadinglogo { 
   0%{
	  opacity: 0;
  }
  100%{
	  opacity: 1;
  }
}

.loading {
	position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
  z-index: 2000;
  overflow: hidden;
  .loading-logo {
	  position: fixed;
	  top: 50%;
	  left: 50%;
	  width: 300px;
	  height: 300px;
	  background-image: url(../images/hover-image.jpg);
		background-size: 98%;
		background-position: left top;
		background-repeat: no-repeat;
	  transform: translate(-50%, -50%);
	  -webkit-animation: loadinglogo 0.6s ease;
	  -moz-animation: loadinglogo 0.6s ease;
	  animation: loadinglogo 0.6s ease;
    @include max-width(800px) {
	    width: 150px;
	    height: 150px;
    }
    .loading-logo-mask {
	    display: block;
	    width: 100%;
	    position: absolute;
	    top: -1px;
	    left: -1px;
	    right: -1px;
	    bottom: -1px;
	    z-index: 1;
    }
    .loading-video {
	    width: 98%;
    }
  }
  &:after {
	  content: "";
	  display: block;
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 100%;
	  background-color: $gray;
		background-image: url(../images/kwecocktails-logo-blanc.svg);
	  background-position: center center;
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: 300px;
	  @include max-width(800px) {
		  background-size: 150px;
	  }
  }
}
.transition {
	.loading {
		-webkit-animation: loading 2s ease;
	  -moz-animation: loading 2s ease;
	  animation: loading 2s ease;
	  .loading-logo {
		  -webkit-animation: loadingvideo 2s ease;
		  -moz-animation: loadingvideo 2s ease;
		  animation: loadingvideo 2s ease;
	  }
	  &:after {
			-webkit-animation: loadingback 2s ease;
			-moz-animation: loadingback 2s ease;
			animation: loadingback 2s ease;
		}
	}
}
.transition-768 {
	.loading {
		-webkit-animation: loading768 2s ease;
	  -moz-animation: loading768 2s ease;
	  animation: loading768 2s ease;
	  .loading-video {
		  -webkit-animation: loadingvideo 2s ease;
		  -moz-animation: loadingvideo 2s ease;
		  animation: loadingvideo 2s ease;
	  }
	  &:after {
			-webkit-animation: loadingback 2s ease;
			-moz-animation: loadingback 2s ease;
			animation: loadingback 2s ease;
		}
	}
}
.loaded {
	.loading {
		top: 100%;
	  left: padding_vw($padding);
	  right: padding_vw($padding);
	  .loading-logo {
		  opacity: 0;
			visibility: hidden;
	  }
	  &:after {
			top: 100%;
			bottom: 0;
		}
	}
}
.transition-out {
	.loading {
		-webkit-animation: loadingout 1s ease;
	  -moz-animation: loadingout 1s ease;
	  animation: loadingout 1s ease;
	  &:after {
			-webkit-animation: loadingbackout 1s ease;
			-moz-animation: loadingbackout 1s ease;
			animation: loadingbackout 1s ease;
		}
	}
}
.transition-out-768 {
	.loading {
		-webkit-animation: loadingout768 1s ease;
	  -moz-animation: loadingout768 1s ease;
	  animation: loadingout768 1s ease;
	  &:after {
			-webkit-animation: loadingbackout 1s ease;
			-moz-animation: loadingbackout 1s ease;
			animation: loadingbackout 1s ease;
		}
	}
}
.transition-out-end {
	.loading {
		top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	}
}
.transition, .transition-768 {
	main, header, footer, .infolettre, .banner {
		transition: opacity 2s 1s $niceease;
		opacity: 1;
	}	
}
.loaded {
	main, header, footer, .infolettre, .banner {
		transition: all 0.6s $niceease;
		opacity: 1;
	}
}
.transition-out, .transition-out-768 {
	main, header, footer, .infolettre, .banner {
		transition: opacity 0.6s $niceease;
		opacity: 0;
	}	
}