.theme-white {
	
}
.theme-black {
	.button-bg:hover {
		color: $white !important;
		@include max-width(800px) {
			color: $black !important;
		}
	}
	.menu-mobile {
		.menu-mobile-background {
			background-color: $white;
		}
		ul {
			li {
				a {
					svg {
						.base {
							fill: $white;
						}
					}
				}
			}
		}
	}
	footer {
		color: $white;
		* {
			color: $white;
		}
		svg {
			path {
				stroke: $white;
			}
		}
	}
}