html {
	font-size: $font_size;
	@include max-width(1280px) {
		font-size: $font_size - 3;
	}
	@include max-width(1024px) {
		font-size: $font_size - 5;
	}
}
body {
	font: em($font_size)/$line_height $main_font;
	color: $black;
}
p {
	@include margin-bottom($padding/1.2);
}
h1 {
	font: em(92)/$line_height $second_font;
	@include margin-bottom($padding);
	text-transform: uppercase;
}
h2 {
	font: em(72)/1.2 $second_font;
	@include margin-bottom($padding/1.5);
	@include max-width(480px) {
		font-size: em(50);
	}
}
h3 {
	font: 500 em(42)/1.2 $main_font;
	@include margin-bottom($padding/1.5);
	@include max-width(480px) {
		font-size: em(32);
	}
}
h4 {
	font: em(36)/$line_height $second_font;
	@include margin-bottom($padding/2);
	@include max-width(480px) {
		font-size: em(30);
	}
	a {
		border-bottom-width: 3px;
	}
}
h5 {
	font: 500 em($font_size)/$line_height $main_font;
	text-transform: uppercase;
}
h6 {
	font: 500 $font_size/$line_height $main_font;
	margin-bottom: $container_padding;
}
p+h1, p+h2, p+h3, p+h4, p+h5, p+h6, 
ul+h1, ul+h2, ul+h3, ul+h4, ul+h5, ul+h6, 
ol+h1, ol+h2, ol+h3, ol+h4, ol+h5, ol+h6,
table+h1, table+h2, table+h3, table+h4, table+h5, table+h6, {
  @include margin-top($padding);
}
h1, h2, h3, h4, h5, h6 {
	&:last-child {
		margin-bottom: 0;
	}
}
.content-text {
  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
  ol, ul {
    list-style: disc;
    @include margin(0, 0, $padding/2, 0)
  }
  ol { list-style: decimal; }
	ul {
		li {
			list-style: none;
			&:before {
				content: "– ";
			}
		}
	}
	a {
		color: $main_color;
		border-bottom: 1px solid $main_color;
		&:hover {
			color: $main_color_hover;
			border-bottom-color: $main_color_hover;
		}
	}
	h3 {
		a {
			border-bottom: none;
			-moz-hyphens: auto;
			-webkit-hyphens: auto;
			hyphens: auto;
		}
	}
	h4 {
		a {
			border-bottom-width: 3px;
		}
	}
}

b, strong { font-weight: 500; }
i, em { font-style: italic; }
i.fa {
	font-style: inherit;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup { top: -0.4em; }
sub { bottom: -0.25em; }

.tleft {
	text-align: left;
}
.tcenter {
	text-align: center;
}
.tright {
	text-align: right;
}