@function padding_vw($var) {
	@return #{$var/$container_mw*100}vw;
}
@function padding_ratio_vw($var, $ratio) {
	@return #{$var/$container_mw*100*$ratio}vw;
}

//PADDING
@mixin padding($top: $padding, $right: $padding, $bottom: $padding, $left: $padding, $ratio: 2) {
  padding: padding_vw($top) padding_vw($right) padding_vw($bottom) padding_vw($left);
  @include max-width(800px) {
    padding: padding_ratio_vw($top, $ratio) padding_ratio_vw($right, $ratio) padding_ratio_vw($bottom, $ratio) padding_ratio_vw($left, $ratio);
  }
}
@mixin padding-top($var: $padding, $ratio: 2) {
  padding-top: padding_vw($var);
  @include max-width(800px) {
    padding-top: padding_ratio_vw($var, $ratio);
  }
}
@mixin padding-right($var: $padding, $ratio: 2) {
 padding-right: padding_vw($var);
  @include max-width(800px) {
    padding-right: padding_ratio_vw($var, $ratio);
  }
}
@mixin padding-bottom($var: $padding, $ratio: 2) {
  padding-bottom: padding_vw($var);
  @include max-width(800px) {
    padding-bottom: padding_ratio_vw($var, $ratio);
  }
}
@mixin padding-left($var: $padding, $ratio: 2) {
  padding-left: padding_vw($var);
  @include max-width(800px) {
    margin-left: padding_ratio_vw($var, $ratio);
  }
}

//MARGIN
@mixin margin($top: $padding, $right: $padding, $bottom: $padding, $left: $padding, $ratio: 2) {
 margin: padding_vw($top) padding_vw($right) padding_vw($bottom) padding_vw($left);
  @include max-width(800px) {
    margin: padding_ratio_vw($top, $ratio) padding_ratio_vw($right, $ratio) padding_ratio_vw($bottom, $ratio) padding_ratio_vw($left, $ratio);
  }
}
@mixin margin-top($var: $padding, $ratio: 2) {
  margin-top: padding_vw($var);
  @include max-width(800px) {
    margin-top: padding_ratio_vw($var, $ratio);
  }
}
@mixin margin-right($var: $padding, $ratio: 2) {
 margin-right: padding_vw($var);
  @include max-width(800px) {
    margin-right: padding_ratio_vw($var, $ratio);
  }
}
@mixin margin-bottom($var: $padding, $ratio: 2) {
  margin-bottom: padding_vw($var);
  @include max-width(800px) {
    margin-bottom: padding_ratio_vw($var, $ratio);
  }
}
@mixin margin-left($var: $padding, $ratio: 2) {
  margin-left: padding_vw($var);
  @include max-width(800px) {
    margin-left: padding_ratio_vw($var, $ratio);
  }
}