%transition {
  transition: all $transition_time $niceease;
}
%hover_border_bottom_active {
	color: $main_color;
  &:before, &:after {
    background-color: $main_color;
    left: 0;
    right: 0;
  }
  &:before {
	  transition: all 0s $transition_time $niceease;
  }
  &:after {
	  transition: all $transition_time $niceease;
  }
}
%hover_border_bottom {
	position: relative;
	&:before, &:after {
	  content: "";
	  display: block;
	  height: 2px;
	  position: absolute;
	  left: 0;
	  right: 0;
	  bottom: em(-5);
	  background-color: $white;
    transition: all $transition_time;
    //z-index: -1;
  }
  &:before {
    left: 100%;
	  transition: all $transition_time $niceease;
  }
  &:after {
    right: 100%;
	  transition: all 0s $niceease;
  }
  &:hover {
    @extend %hover_border_bottom_active;
  }
}
