.infolettre {
	@include padding($padding*1.5, 0, $padding*1.5, 0);
	form {
		.infolettre-fields {
			background-color: $white;
			@include max-width(640px) {
				background-color: transparent;
			}
		}
		.email {
			display: inline-block;
			width: calc(100% - 230px);
			margin-bottom: 0;
			vertical-align: middle;
			transform: translateX(9px);
			@include max-width(640px) {
				width: 100%;
				@include margin-bottom($padding/3);
				transform: translateX(0);
				text-align: center;
			}
		}
		.button {
			display: inline-block;
			margin: 0;
			background-color: $gray;
			border: 3px solid $gray;
			vertical-align: middle;
			border-width: 3px;
			color: $black;
			@include max-width(640px) {
				width: 100%;
				float: none;
			}
			&:hover {
				border: 3px solid mix(black, $gray, 15%);
				background-color: mix(black, $gray, 15%);
			}
		}
		.response {
			@include margin-top($padding/3);
		}
	}
}